html,
body {
  font-family: "Poppins", sans-serif;
}

#car-image-container {
  display: flex;
  justify-content: center;
}

#details_vehicle {
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  flex-direction: column;
  box-shadow: 0 2px 3px #ccc;
  max-width: 90vw;
  background-color: rgb(203, 224, 230);
}

.details-container {
  margin-bottom: 10px;
}

h2 {
  font-family: "poppins", sans-serif;
  text-shadow: 1px 1px 1px #3c6e7d;
}

img {
  max-width: 350px;
}

li {
  list-style: none;
  font-size: 1.2em;
  font-family: poppins;
}

.charasteristics {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #3c6e7d;
  padding: 10px 0 5px 10px;
}

.buttonCar {
  display: flex;
  justify-content: space-around;
}

.button_reserver button {
  background-color: #3c6e7d;
  font-size: 12px;
  padding: 8px 18px;
  border-radius: 55px;
}

.button_supprimer button {
  background: orangered;
  font-size: 12px;
  padding: 8px 18px;
  border-radius: 56px;
}

@media screen and (min-width: 768px) {
  img {
    width: 600px; /* Largeur fixe */
  }

  .details-container {
    display: flex;
    flex-direction: row;
  }

  #car-image-container {
    margin-left: 10px;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "bruno ace SC";
    font-size: 1em;
    margin-right: 20px;
  }

  .buttonCar {
    justify-content: flex-end;
  }

  button {
    margin: 0 25px 10px 0;
  }
}
