html,
body {
  font-family: 'Poppins', sans-serif;
}



#details_vehicle {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 3px #ccc;
  max-width: 100%;
  background-color: rgb(203, 224, 230);

}

h2 {
  font-size: 2em;
  margin-left: 20px;
  line-height: 3em;
  font-family: "Roboto", sans-serif;
  color: rgb(58, 57, 57);
  display: flex;
  justify-content: space-around;
}

img {
  max-width: 100%;
  display: flex;
  align-items: center;
}


li {
  list-style: none;
  font-size: 1.2em;
  font-family: poppins;
}

.test7{

  display: inline-flex;
  align-items: center;
  
}

button {
  position: initial;
  left: calc(100vw - 180px);
  max-width: 100%;
  border-radius: 56px;
  font-weight: 600;
  background: var(--slate-900, #3c6e7d);
  color: var(--slate-100, #F9FAFB);
  margin: 1vh 4vh 3vh 2vh;
  font-size: 18px;
  height: 50%;
  padding: 8px 18px;

}

.buttonCar {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
 .car-img {
    width: 50%;
    height: 50%;
  }
}


