html,
body {
  font-family: 'Poppins', sans-serif;
}



#details_vehicle {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 3px #ccc;
  max-width: 100%;
  background-color: rgb(203, 224, 230);

}

h2 {
  font-size: 2em;
  margin-left: 20px;
  line-height: 3em;
  font-family: "poppins", sans-serif;
  color: rgb(58, 57, 57);
  display: flex;
  text-align: center;
  text-shadow: 1px 1px 1px #3c6e7d ;
  
  

}


  
  img {
    width: 600px; /* Largeur fixe */
    height: 400px;
    
    display: flex;
    align-items: center;
    aspect-ratio: 16 / 9;
  }



li {
  list-style: none;
  font-size: 1.2em;
  font-family: poppins;
}

.charasteristics {
  display: flex;
  flex-direction: column;
  border-top: 1px solid   #3c6e7d;
  padding-top: 10px; 
}



.charasteristics i,
.charasteristics img {
  margin-right: 10px; 
}


.buttonCar {
  display: flex;
  justify-content: space-between;
  position: relative; /* Ajoutez cette ligne */
}

.button_reserver button {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-weight: 600;
  background: var(--slate-900, #3c6e7d);
  color: var(--slate-100, #F9FAFB);
  font-size: 12px;
  padding: 8px 18px;
  border-radius: 56px;
}

.button_supprimer button {
  position: absolute;
  bottom: 30px;
  left: 40px;
  font-weight: 600;
  background: var(--slate-900, rgb(58, 57, 57));
  color: var(--slate-100, #F9FAFB);
  font-size: 12px;
  padding: 8px 18px;
  border-radius: 56px;
}



@media screen and (min-width: 600px){
 .details-container {
  display: flex;
  flex-direction: row; 
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5vh;
  font-family: "bruno ace SC";
  font-size: 1em;
}


  }



  


