#details_reservation {
  margin: 0.5rem auto 0.5rem;
  line-height : 1.5;
  max-width: 90vw;
}

li {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: underline;
}

#resa_content {
  display: flex;
  flex-direction: column;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2rem;
}

#vehicleModelInfo {
  margin-top: 1rem;
}

#details_user {
  margin-top: 2rem;
}

img {
  width: 100%;
}

ul {
  margin: 0.5rem 0;
}

li {
  list-style: none;
}

button {
  position: relative;
  left: calc(100vw - 180px);
}