.titre {
  height: 55px;
  display: flex;
  width: 150px;
}
.quote {
  color: white;
}

header {
  height: 115px;
  width: 100%;
  background-color: #226175;
}

.logo-img {
  height: 90px;
  border-radius: 50%;
  padding: 10px
}

.titre-contain {
  display: flex;
  flex-direction: row;
  background-color: #226175;
  align-items: center;
}

#title-logo-quote {
  text-align: center;
}

#quote-menu {
  padding-right: 5px;
}

.menu {
  font-size: 0px;
  margin: 5px auto;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo-car {
  max-height: 80%;
  border-radius: 50%;
}

.logo-link {
  height: 30px;
  width: auto;
}

h2 {
  display: none;
  align-items: center;
  font-size: smaller;
  color: whitesmoke;
  text-align: center;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #226175;
    padding-bottom: 10px;
  }

  #quote-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .quote {
    justify-content: center;
  }

  .logo-link {
    width: 30px;
  }

  ul {
    list-style: none;
  }

  a {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
  }

  .menu {
    font-size: 15px;
    margin: auto;
  }

  .logo-car{
    margin-left: 20px;
    width: 110px;
    display: initial;
  }

  .logo-img {
    padding: 0;
  }
}
