.logo {
  height: 80%;
  margin: 20px;
}

a {
  text-decoration: none;
  color: whitesmoke;
  margin-bottom: 10px;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  height: 100%;
  font-size: 0px;
}

.logo-img {
  max-height: 80%;
  border-radius: 50%;
}

.menu {
  font-size: 0px;
  margin-right: 25px;
}

.logo-link {
  height: 30px;
  vertical-align: baseline;
  margin-right: 0;
  margin-left: 20px;
  margin-top: 10px;
}

header {
  background: rgb(80, 78, 111);
  background: linear-gradient(
    90deg,
    rgba(80, 78, 111, 1) 0%,
    rgba(15, 134, 158, 1) 100%,
    rgba(0, 212, 255, 1) 100%,
    rgba(34, 97, 117, 0.01) 100%
  );
  border-bottom: 1px solid #eee;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: lightgray 3px 3px 7px;
}

.titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1 {
  font-family:"bruno ace", "bruno ace pro";
  color: white;
  margin-left: 40px;
  font-size: 6vh;
}

h2 {
  font-size: 0.9em;
  margin: 10px;
  display: flex;
  line-height: 1.2em;
  font-family: "bruno ace";
  color: whitesmoke;
  text-align: center;
  justify-content: center;
}

ul {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-around;
  }
  h2 {
    max-width: 40%;
    font-size: x-large;
  }

  .logo {
    height: 100%;
  }

  .logo-link {
    margin-right: 10px;
  }

  ul {
    list-style: none;
    align-items: center;
    padding: 0;
  }

  a {
    vertical-align: middle;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
  }

  .menu {
    font-size: 15px;
  }
}
