img.titre {
  margin-left: 0;
  height: 100px;
  margin-right: -20px;
  margin-top: 20px;
  width: 150px;
}

.logo-titre {
  width: 20%;
  height: auto;
  color: #fbf9f9;
  padding-top: 20px;
  margin-right: 25px;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  align-items: center;
  max-height: 150px;
}

.logo {
  display: none;
  height: 80%;
  margin: 20px;
}

a {
  text-decoration: none;
  color: whitesmoke;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row-reverse;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  height: 100%;
  font-size: 0px;
}

.logo-img {
  max-height: 80%;
  border-radius: 50%;
}

.menu {
  font-size: 0px;
  margin-right: 25px;
}

.logo-link {
  height: 30px;
  margin-right: 20px;

  width: auto;
}

header {
  background-color: #226175;
  opacity: 0.9;
  border-bottom: 1px solid #eee;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: lightgray 3px 3px 7px;
}

.titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "bruno ace", "bruno ace pro";
  color: white;
  margin-left: 40px;
  font-size: 6vh;
}

h2 {
  display: none;
  align-items: center;
  font-size: smaller;
  color: whitesmoke;
  text-align: center;
}

ul {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(
      135deg,
      hsl(194deg 55% 30%) 0%,
      hsl(196deg 43% 34%) 4%,
      hsl(198deg 36% 39%) 10%,
      hsl(200deg 30% 43%) 15%,
      hsl(202deg 26% 47%) 21%,
      hsl(203deg 23% 51%) 26%,
      hsl(205deg 23% 54%) 32%,
      hsl(207deg 23% 58%) 38%,
      hsl(209deg 24% 62%) 43%,
      hsl(211deg 24% 66%) 49%,
      hsl(211deg 24% 66%) 54%,
      hsl(209deg 24% 62%) 60%,
      hsl(207deg 23% 58%) 65%,
      hsl(205deg 23% 54%) 71%,
      hsl(203deg 23% 51%) 76%,
      hsl(202deg 26% 47%) 82%,
      hsl(200deg 30% 43%) 87%,
      hsl(198deg 36% 39%) 92%,
      hsl(196deg 43% 34%) 97%,
      hsl(194deg 55% 30%) 100%
    );
  }

  .title {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    display: flex;
    margin: 0;
    margin-bottom: 35px;
    max-width: 50%;
    font-size: large;
  }

  .logo {
    height: 100%;
  }

  .logo-link {
    margin-right: 10px;
  }

  ul {
    list-style: none;
    align-items: center;
    padding: 0;
  }

  a {
    vertical-align: middle;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
  }

  .menu {
    font-size: 15px;
  }

  .logo {
    display: flex;
    height: 80%;
    margin: 20px;
  }

  .logo-titre {
    display: none;
  }

  .img-titre {
    height: 100px;
    width: auto;
    margin-top: 20px;
    margin-right: 0px;
  }
}
