<header>
  <div class="titre-contain">
    <a class="logo-car" routerLink="vehicles"
      ><img
        class="logo-img"
        src="assets/images/logo_site_carfleet.png"
        alt="logo"
    /></a>

    <div id="quote-menu">
      <div id="title-logo-quote">
        <span class="quote"
          >La réservation facile de votre véhicule de service</span
        >
      </div>

      <div class="menu">
        <ul>
          <li>
            <a routerLink="vehicles/search"
              ><img
                src="assets/images/icon-search.png"
                class="logo-link"
                alt="icon-search"
              /><span>Recherche </span>
            </a>
          </li>
          <li>
            <a routerLink="reservations"
              ><img
                src="assets/images/icon-reservation.png"
                class="logo-link"
                alt="icon-reservation"
              /><span>Réservations</span>
            </a>
          </li>
          <li *ngIf="userRole == 'ADMIN'">
            <a routerLink="admin"
              ><img
                src="assets/images/icon-admin.png"
                class="logo-link"
                alt="icon-admin"
              /><span>Admin</span></a
            >
          </li>
          <li>
            <a href="" (click)="logout()"
              ><img
                src="assets/images/icon-deconnexion.png"
                class="logo-link"
                alt="icon-deconnexion"
              />
              <span>Déconnexion</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
