<div class="cancel">
  <h2>Annulation</h2>
  <div>
    <p>
      Vous allez annuler la réservation n°{{ reservationCancel.id }}
      pour la période du
      {{ reservationCancel.start_Date | date : "dd/MM/yyyy" }} au
      {{ reservationCancel.end_Date | date : "dd/MM/yyyy" }}
      à {{ reservationCancel.vehicle.fleet.place }}
    </p>

    <p id="reason">Motif : {{ reservationCancel.reason }}.</p>
  </div>

  <button type="button" (click)="confirmDeleteResa()">
    Confirmer l'annulation
  </button>
</div>
