#resaForm {
  background-color: rgba(34,97,117,0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 20px auto;
}

label {
  text-align: center;
}


#startDate,
#endDate {
  width: 50vw;
}

#reason {
  width: 16rem;
}

#reserveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 10px;
  background-color: #3EBDE6;
  align-self: center;
  margin-bottom: 20px;
}

input {
  padding: 2vh;
  border-radius: 10px;
  margin: 1vh 4vh 3vh 2vh;
}