#resaForm {
  background-color: #226175;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#startDate,
#endDate {
  width: 50vw;
}

#reason {
  width: 16rem;
}

#reserveButton {
  display: flex;
  padding: 8vh 30vh 2vh 10vh;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 10px;
  background-color: #3EBDE6;
  align-self: center;
  margin: 50px;
}

label {
  margin: 1vh;
}

input {
  padding: 2vh;
  border-radius: 10px;
  margin: 1vh 4vh 3vh 2vh;
}