body {
  background-color: black;
}

#form-input {
  display: flex;
  flex-direction: column;
}

#div-button {
  align-self: end;
}

button {
  margin: 20px 0;
  width: 160px;
  height: 40px;
}

a {
  display: flex;
  justify-content: center;
}

.form-liste {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background-color: #226175;
  color: whitesmoke;
  box-shadow: 0 2px 3px #ccc;
  margin: 25px auto;
  opacity: 0.9;
  max-width: 90%;
}

li {
  list-style-type: none;
}

form {
  justify-content: center;
  width: 90%;
  display: flex;
  flex-direction: column;
}

input {
  height: 40px;
  border-radius: 10px;
}

label {
  margin: auto;
  padding-top: 12px;
}

.error-message {
  color: red;
}

@media screen and (min-width: 768px) {
  .form-liste {
    max-width: 60%;
  }

  .list {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
  }

  label {
    padding: 0;
  }

  #form-input input:first-of-type {
    margin-bottom: 1rem;
  }
  
  #div-button {
    display: flex;
    align-items: center;
    height: 100%;
  }

  button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    height: 40px;
  }

  form {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .form-liste {
    margin-top: 75px;
    margin-bottom: 25px;
    height: 230px;
    width: 600px;
  }
}
