h2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

button{
  height: auto;
    width: auto;
   justify-content: center;

}

.form-liste{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color:rgb(103, 150, 164);
    color: whitesmoke;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin-bottom: 30px;
    
}


.list , .list-reverse {
    list-style-type: none;
    text-decoration: none;
    /* padding: 10px; */
    margin: 0;
    color: rgb(241, 34, 34);
justify-content: space-around;
    font-size: 1em;
  text-align: center;


  
}

form{
    justify-content: center;
    width: 90%;
    display: flex;
    flex-direction: column;
   
}

input{

    height: 40px;
}

label {

    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

/* .list ul {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
} */




.error-message {
    color: red;
}
@media screen and (min-width: 768px){



.list{
display: flex;
justify-content: space-around;
flex-wrap: nowrap;
width: auto;
/* animation-name: scroll;
animation: scroll 50s linear infinite  ; */
padding: 10px;
overflow-x:scroll;
white-space: normal;
display: flex;
flex-wrap: nowrap;

}
.label {


    display: flex;
    justify-content: space-around;
}

form {

    align-items: center;
}
input {
 
    justify-content: center;

    width: inherit;
}

.list:hover{

    width: 120%;
}
/* .list-reverse{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    animation-name:scrollReverse; 
    animation: scrollReverse 420s linear infinite ;
    padding: 10px;
    overflow:hidden;
   
  
    } */


.form-liste{

    margin-bottom: 50px;
    height: 350px;
    width: 80%;
}
}
  /* @keyframes scroll {
    100% {
      transform: translateX(0%); 
    }
    0% {
      transform: translateX(100%); 
    }
  } */