<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>



<!-- <h1>{{title}}</h1>
<div>
    <form (ngSubmit)="sendData()"
    {[formGroup]="form">
<label for="place"> Place:</label>
<input type="text" id="place"/>
<button type="submit">Add fleet</button>
</form>
</div>
<div *ngIf="fleets.length> 0">
    <h2>Fleets:</h2>
    <ul>
        <li *ngFor="let fleet of fleets">
            Place:{{fleet.place}}
            <button(click)="deleteFleet(fleet.id)"> Delete </button>
        </li>
    </ul>
</div> -->