* {
  padding: 0;
  margin: 0;
}

body {
  background-color: blue;
  min-height: 100vh;
}

#router-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

footer {
  position: fixed;
  bottom: 0;
}
