* {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: blue;
}

    #router-footer {
        display: flex;
        flex-direction:column;
        height: 80vh;
        justify-content: space-between;
    }
    