.mentions {
    font-family: Arial, sans-serif;
    background-color: #8f8d8d; /* Couleur de fond gris */
    color: whitesmoke; /* Couleur de texte whitesmoke */
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color:rgb(222, 222, 222);
  }
  
  h2 {
    color:rgb(52, 52, 52); 
    margin-top: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  a {
    color: #007bff; /* Couleur de lien */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline; /* Soulignement au survol du lien */
  }
  

