footer{
  background-color: #226175;

    color: whitesmoke;

    bottom: 0;
    width: 100%;
    min-height: 180px;
    box-shadow: lightgray 3px 3px 7px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}

.footer-links a {
    list-style-type: none;
    text-decoration: none;
    /* padding: 10px; */
    margin: 0;
    color: white;
    display: flex;
 
    align-items: left;
    font-size: 1em;
  text-align: left;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    
    
}