footer{
    background: rgb(80,78,111);
    background: linear-gradient(90deg, rgba(80,78,111,1) 0%, rgba(15,134,158,1) 100%, rgba(0,212,255,1) 100%, rgba(34,97,117,0.01) 100%);
    color: whitesmoke;
position:relative;
    bottom: 0;
    width: 100%;
    min-height: 130px;
    box-shadow: lightgray 3px 3px 7px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links a {
    list-style-type: none;
    text-decoration: none;
    /* padding: 10px; */
    margin: 0;
    color: white;
    display: flex;
 
    align-items: left;
    font-size: 1em;
  text-align: left;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-left: 15px;
    
}