.searchpage {

  padding-top: 10%;
margin-bottom: 15%;
}

h2 {
  font-size: 1, 3em;
  margin: 5% 0 5% 0;
  /* margin-left: 20px; */
  line-height: 1em;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  text-align: center;
  justify-content: space-around;
}

form {
  background-color: rgba(34, 97, 117, 0.8);

 
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
 
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 08px 08px 10px 5px #818080;

  max-width: 90%;
}
img {
  height: 10vh;
  max-width: 100%;
}
input {
  background-color: lightgray;
  width: 60%;
  height: 04vh;
  border-radius: 10px;
  text-align: center;
}

.search-card {
  border: 1px solid #ccc;
  border-radius: 10px;
}

select {
  width: 60%;
  height: 04vh;
  display: flex;
border-radius: 10px;
  background-color: lightgray;
  box-shadow: 0px -1px 0px 0px #e2e8f0 inset;
}

option {
  height: auto;
  max-width: 50%;
}

button{
    padding: 10px;
    height: 40px;
    width:60%;
    margin-bottom: 25px;
    margin-top: 20px;
}

button:hover {
  background: var(--slate-800, #1e293b);
  color: var(--slate-100, #f9fafb);
  cursor: pointer;

}

li {
  list-style-type: none;
  text-decoration: none;
  /* padding: 10px; */
  margin: 0;
  color: white;
  display: block;
  font-size: 1em;
  text-align: center;
}

.error-message {
  color: red;
}

@media screen and (min-width: 768px) {

  button {

    margin-top: 40px;
    margin-bottom: 50px;
    max-width: 40%;
    font-size: large;
}

  input {
    width: 40%;
    font-size: large;
  }

  label {
    font-size: large;
  }

select {

  width: 40%;
  text-align: center;
  font-size: large;
}

  form {
    margin: auto;
    max-width: 80%;
    align-items: center;

    opacity: 0.9;
  }

  .search-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  a {
    display: inline-block;
  }
}
