<div class="searchpage">
<form #searchform="ngForm"(submit)="recherche(searchform)">
<h2>Recherche détaillée de véhicule</h2>
    <label for="start">Jour et heure de début</label><br>

<input type="datetime-local" id="start" name="start" ngModel name="start"  /><br>
<!-- <label for="start-hour">Start hour:</label><br> -->
    <!-- <input type="time" id="start-hour" name="startHour" ngModel name =formData.startHour value="00:00" min="00:00" max="23:59" step="3600" /><br> -->

    <label for="end">Jour et heure de fin</label><br>
<input type="datetime-local" id="end" name="end" ngModel name="end" value="2023-10-20T08:00" min="2023-01-01T00:00" max="2050-12-31T00:00" /><br>
       <!-- <label for="end-hour">End hour:</label><br> -->
       <!-- <input type="time" id="end-hour" name="location-end-hour" ngModel name="formData.endHour" value="00:00" min="00:00" max="23:59" step="3600" /><br> -->
      
      <label for="type">type de véhicule</label><br>
       <select id="type-vehicule" name="type-vehicule" ngModel name="type-vehicule"><br>
           <option value="">Choisir</option>    
           <option value="citadine">citadine</option>
           <option value="utilitaire">utilitaire</option>
           <option value="break">break</option>
         </select>
            <br>
            
       
        <label for="carburant">choix du carburant</label><br>
       <select id="carburant" name="carburant" ngModel name="formData.carburant" ><br>
                <option value="">Choisir</option>
              <option value="essence">essence</option>
              <option value="diesel">diesel</option>
              <option value="electrique">electrique</option>
       </select><br>
<button type="submit">Trouver un véhicule</button>



</form>

<app-vehicle-card *ngFor="let vehicle of vehicleToDisplay  " [vehicle]="vehicle">
</app-vehicle-card>

<!-- <p>Texte avant le formulaire</p>
<div class="formulaire">
    <form method="get" action="">
        <p>Recherche d'un vehicule </p>

        <label for="start">Start date:</label>

<input type="date" id="start" name="location-start" value="2023-10-20" min="2023-01-01" max="2050-12-31" />
<label for="start-hour">Start hour:</label>
    <input type="time" id="start-hour" name="location-start-hour" value="00:00" min="00:00" max="23:59" step="3600" />

    <label for="end">End date:</label>
<input type="date" id="end" name="location-end" value="2023-10-20" min="2023-01-01" max="2050-12-31" />
       <label for="end-hour">End hour:</label>
       <input type="time" id="end-hour" name="location-end-hour" value="00:00" min="00:00" max="23:59" step="3600" />
       type de véhicule
       <select name="type-vehicle">
           <option value="1">citadine</option>
           <option value="2">utilitaire</option>
           <option value="3">break</option>
       </select>

       <select name=""carburant>
              <option value="1">essence</option>
              <option value="2">diesel</option>
              <option value="3">electrique</option>
       </select>
<input type="submit" value="Trouver un véhicule" />

    </form>
</div>
<p>Texte après le formulaire</p> -->