<div class="searchpage">
  <form [formGroup]="searchForm" (submit)="onSubmit()">
    <h2>Recherche détaillée de véhicules</h2>

    <label for="start">Jour et heure de début</label>
    <input class="calendar"
      type="datetime-local"
      id="start"
      name="start"
      formControlName="startDate"
      [(ngModel)]="startDateForm"
      [min]="todayString"
      [max]="maxDate"
      required
    /><br />

    <label for="end">Jour et heure de fin</label>
    <input class="calendar"
      type="datetime-local"
      id="end"
      name="end"
      formControlName="endDate"
      [min]="startDateForm"
      [max]="maxDate"
      required
    /><br />

    <label for="type">Type de véhicule</label>
    <select id="type-vehicule" name="type-vehicule" formControlName="type">
      <br />
      <option value="">Choisir</option>
      <option value="citadine">Citadine</option>
      <option value="utilitaire">Utilitaire</option>
      <option value="berline">Berline</option>
    </select>
    <br />

    <label for="energy">Énergie</label>

    <select id="carburant" name="carburant" formControlName="energy">
      <br />
      <option value="">Choisir</option>
      <option value="essence">Essence</option>
      <option value="diesel">Diesel</option>
      <option value="électrique">Électrique</option></select
    ><br />
    <button type="submit">Trouver un véhicule</button>

    <div
      *ngIf="formSubmitted && searchForm.hasError('atLeastOneSelectRequired')"
      class="error-message"
    >
      Veuillez choisir au moins un champ "type" ou "énergie".
    </div>
    <div
      *ngIf="
        formSubmitted &&
        (searchForm.get('startDate')?.hasError('required') ||
          searchForm.get('endDate')?.hasError('required'))
      "
      class="error-message"
    >
      Les champs date de début et de fin sont obligatoire .
    </div>
    <div
      *ngIf="formSubmitted && vehiclesToDisplay.length === 0"
      class="error-message"
    >
      Aucun véhicule trouvé.
    </div>
  </form>
</div>


  <div class="search-card">
    <li *ngFor="let vehicle of vehiclesToDisplay">
      <app-vehicle-card [vehicle]="vehicle">
        <a [routerLink]="['/vehicle', vehicle.id]"></a>
      </app-vehicle-card>
    </li>
  </div>

