.vehicle-card {
  display: flex;
  flex-direction: column-reverse;
  width: 90%;
  border: 1px solid white;
  border-radius: 10px;
  align-items: center;
  margin: 0 auto 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 08px 08px 10px 5px #818080;
  background-color: rgb(103, 150, 164);
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;

  font-weight: 999;
}

h3{
  text-align: center;
}


img {
  background-color: white;
  margin: 15px auto;
  max-width: 95%;
  border-radius: 10px;

}

@media screen and (min-width: 768px) {
  .list {
    display: flex;

    justify-content: space-between;
  }

  .vehicle-card {
    width: 400px; /* Deux cartes par ligne (espacement inclus) */
    margin: 20px;
    height: auto;
  }
  a {
    width: auto;
    display: inline-block;
  }

  img {
    height: 250px;
  }
}
