#admin-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 360px;
    padding-bottom: 5px;
}

.resa-panel {
    margin-top: 2rem;
}

a {
    width: 150px;
}

.btn {
    width: 150px;
    padding: 10px 20px;
}

#btns-admin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin-top: 2rem;
}

@media screen and (min-width: 768px) {
    #admin-dashboard {
        margin: 15px auto;
        padding-bottom: 15px;
        width: 80%;
        background-color: white;
    }

    .resa-panel:first-of-type {
        margin-top: 1rem;
    }

    h2 {
        margin-left: 2rem;
        text-decoration: underline;
    }
}