* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.identifiant-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.container {
  display: flex;
  width: 90%;
  height: auto;
  background-color: whitesmoke;
  border: 1px solid black;
  margin: auto;
  margin-top: 50px;
  box-shadow: 15px 15px #36778a;
}

label {
  flex-basis: 30%;
}

.mdp {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: whitesmoke;
  padding: 12px;
}

.form h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 40px;
  font-size: 10px;
  margin-bottom: 70px;
}

.box {
  padding: 12px;
  width: 65%;
  margin: 15px;
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
}

/* #submit {
  padding: 12px 30px;
  width: 40%;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 20px;
} */

button {

  max-width: 40%;
  height: 35px;
}

.side {
  display: none;
}

 img {
  display: none;
}

.invalid-password {
  display: flex;
  justify-content: center;
  font-style: bold;
  opacity: 1;
  margin-top: 0px;
  color: #f60303;
  font-size: 10px;
  text-align: left;

  padding: 3px;

  margin-bottom: 17px;
}

.invalid-:before {
  color: #f60303;
  font-size: 16px;
  margin-right: 5px;
}

/* .btn-primary[type="submit"]:disabled {
  margin-top: 20px;
  opacity: 0.5;
  cursor: not-allowed;
  background-color: grey;
  color: #00000083;
} */

.ng-valid[required] {
  opacity: 0.5;
  border: 3px solid #3ebee6;
}

.box.ng-dirty.ng-invalid {
  opacity: 0.5;
  border: 3px solid #f60703;
}

/* .btn-primary {
  background-color: #3ebee6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
} */

#afficher-mdp {
  font-size: small ;
  font-style: italic;
  opacity: 0.6;
}

/* .btn-primary[type="submit"]:disabled {
  margin-top: 20px;
  opacity: 0.5;
  cursor: no-drop;
  background-color: grey;

  color: #00000083;
} */

.form-check-label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
/* Version Bureau */

@media screen and (min-width: 768px) {

.container{

  max-width: 70%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

  #afficher-mdp {
    margin-right: 10px;
  }
  .form {
    max-width: 50%;
  
  }

  .form-group {
    width: 100%;
  }
  /* .side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: whitesmoke;
  } */


  #submit:hover {
    cursor: pointer;
    box-shadow: 15px 15px;
    background-color: #36778a;
  }

  .identifiant-group {
    min-width: 100%;
    flex-direction: column;
  }

  .mdp {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  button {
    width: 30%;
    height: 35px;
  }

 img {

display: flex;

width: 25%;
height: 35%;

align-items: center;
justify-content: center;
 }



}
