/* You can add global styles to this file, and also import other style files */
.resa-ongoing {
    border: solid 2px #04BE17;
}

.resa-toCome {
    border: solid 2px #FFA500;
}

.resa-ended {
    border: solid 2px #36778a;
}

.dot-ongoing {
    background-color: #04BE17;
}

.dot-toCome {
    background-color: #FFA500;
}

.got-ended {
    background-color: #36778a;
}

* {
    margin: 0;
    padding: 0;
}