#cardBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    margin: 12px auto;
    padding: 2px;
    font-size: medium;
    border-radius: 5px;
    gap: 0.5rem;
    font-size: small;
}

#resaCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}